<!DOCTYPE html>
<html>
<title>{% block title%} {% endblock %}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- w3-content defines a container for fixed size centered content,
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Header -->
<header class="w3-container w3-center w3-padding-32">
  <h1><b><a href="{% url 'articles:index' %}">MUTE</a></b></h1>
  <p>Welcome to the blog of <span class="w3-tag">pop hater</span></p>
</header>

<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-col l8 s12">
  <!-- Blog entry -->


  {% block articles %} {% endblock %}

<!-- END BLOG ENTRIES -->
</div>

<!-- Introduction menu -->
<div class="w3-col l4">
  <!-- About Card -->
  <div class="w3-card w3-margin w3-margin-top">
  <!-- <img src="/w3images/avatar_g.jpg" style="width:100%"> -->
    <div class="w3-container w3-white">
      {% if user.is_authenticated %}
      <h4><b>{{ user.username }}</b></h4>
      <p> <a href="{% url 'accounts:logout' %}">Выйти</a></p>
      {% else %}
      <p><a href="{% url 'accounts:login' %}">Войти</a></p>
      <p><a href="{% url 'accounts:signup' %}">Зарегистрироваться</a></p>
      {% endif %}
      {% if user.is_staff %}
      <p><a href="{% url 'articles:new_article' %}">Новый пост</a></p>
      {% endif %}


    </div>
  </div><hr>

  <!-- Posts -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4><a href="{% url 'my_news:index' %}">Планета Рока</a></h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
      {% for n in news %}
      <li class="w3-padding-16">
        <span class="w3-large"><b>{{ n.title }}</b></span><br>
        <span>{{ n.posted }}</span>
      </li>
      {% endfor %}
      <!--
      <li class="w3-padding-16">

        <span class="w3-large">Ipsum</span><br>
        <span>Praes tinci sed</span>
      </li>
      <li class="w3-padding-16">
        <span class="w3-large">Dorum</span><br>
        <span>Ultricies congue</span>
      </li>
      <li class="w3-padding-16 w3-hide-medium w3-hide-small">
        <span class="w3-large">Mingsum</span><br>
        <span>Lorem ipsum dipsum</span>
      </li>
      -->
    </ul>
  </div>
  <hr>

  <!-- Labels / tags -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Tеги</h4>
    </div>
    <div class="w3-container w3-white">
    <p><span class="w3-tag w3-black w3-margin-bottom">Music</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Rock</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Jazz</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Hate</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Pop culture</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Money</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Marble rap</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">For children</span>
    </p>
    </div>
  </div>

<!-- END Introduction Menu -->
</div>

<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>


</body>
</html>
